
@font-face {
    font-family: "FontAwesomeSolid";
    font-weight: bold;
    font-style: normal;
    src : url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/webfonts/fa-solid-900.ttf") format("truetype");
}

.mdtoggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width:20%;
}

.mdfont-active {
    background-color: rgba(137, 189, 138, 1);
    border-radius: 15px 50px;
    color: black;
}

.mdfont-inactive {
    /* border:1px solid #b5b5ee; */
}

.mdfont {
    font-family: Verdana, sans-serif!important;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.alt-mdfont {
    font-family: 'Roboto Mono', monospace!important;
}

.alt-mdfont code {
    font-size: 100%;
}



/*

NOTE:
    * The current state of font selection is that 
    was functional in a different life. It was 
    almost removed in this iteration but hung 
    around anyway. 
    * The code is working, go to toc.php and
    make the font button element visible.
    * The buttons were made from <hX> tags and
    not real buttons. That needs some work to 
    make them appear and operate as a nice
    pair of radio buttons.

*/
.mdbutton {
    background-color: grey;
}

.mdbutton:hover {
    background-color: rgba(189, 183, 137, 1);
    border-radius: 15px 50px;
}

.mdselector pre {
    font-weight: bold;
    /* border: 1px solid #fcc603; */
}

.mdselector pre code {
    /* color: #b5b5ee; */
    font-family: 'Roboto Mono', monospace!important;
}

.mdselector p code {
    font-family: 'Roboto Mono', monospace!important;
}

.mdselector code {
    font-family: 'Roboto Mono', monospace!important;
}

.mdselector a:link, a:visited {
    /* color: #fcc603; */
}

.mdselector a:hover, a:active  {
    /* color: #00FF00; */
}


.mdselector a[target="_blank"]:after {
    font-size: small;
    content: ' \f35d';
    font-family: "FontAwesomeSolid";
    /* color: #fcc603; */
}

.mdselector a[target="_blank"]:hover:after {
    /* color: #00FF00; */
}

.mdanchor {
    padding-top: 2em;
    margin-top: -2em;
}

#content_1-out,#content_2-out,#content_3-out {
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 1rem;
}

.mdnoshadow {
    text-shadow: none;
}

code {
    /* font-size: 1.25em!important; */
}

